/* --------------------------------------------------------------------------------------------------------------------------- */

/* Global variables */
:root{
--nameFont: "Nunito";
--colBack: #fb7b2c80;
--colBack2: #fb7b2c50;
--colFootTxt: #FCBC95;
--colBtnTxt: saddlebrown;
--colBtnBorder: #341f09;
--valRadiusBtn: 10px;
--colMars: #4c8fa0;
--colVenus: pink;
--colCookie: #5a32a099;
--colGreen: #2b934875;
--valShadow: 2px 2px 2px 1px #E36414;
}

/* Global Styles */
.navStyle{
  background-color: #4A2B0D!important;
}

.navTxtLink{
  font-family: var(--nameFont), sans-serif!important;
  color: var(--colFootTxt)!important;
}

.navTxtUser{
  color: var(--colGreen);
  font-family: var(--nameFont), sans-serif;
  font-size: x-large;
}

.navCustom-toggler {
  color: var(--colGreen);
}

.iconColor{
  color:#E36414;
}

.globalFooter{
  background-color: #4A2B0D!important;
}

.globalFooterText{
  color:#E36414;
  font-family: var(--nameFont), sans-serif;
}

input[type=text], input[type=email], input[type=submit]{
  box-shadow: var(--valShadow);
}

select {
  box-shadow: var(--valShadow);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  box-shadow: var(--valShadow);
}

.globalFont{
  font-family: var(--nameFont), sans-serif;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* page LOVERS.PHP */
.loversBody{
  background-color: var(--colBack);
  font-family: var(--nameFont), sans-serif;
}

.loversContainer{
  box-shadow: var(--valShadow);
}

.loversTitleDiv{
  width: 500px;
  height: 55px;
  background-color: var(--colBack);
  border-radius: var(--valRadiusBtn);
}

.loversTitleCards{
  display: inline;
}

.loversCardSingle{
  width: 270px;
  border-radius: 20%;
}

.loversCardImg{
  width: auto;
  height: 150px;
}

.loversCardFooter{
  background-color: var(--colGreen);
  color: white;
}

.loversCardTitle, .loversCardFooterPart{
  font-size: large;
  font-weight: bold;
}

.loversCardBtnLike{
  display: block;
  width: 120px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: var(--colBtnTxt);
  border: 1px solid var(--colBtnBorder);
  border-radius: var(--valRadiusBtn);
  transition: transform 450ms, background-color 450ms, color 450ms;
}

.loversCardBtnLike:hover{
  color: var(--colFootTxt);
  transform: scale(1.15);
  background-color: var(--colBtnTxt);
}

.loversCardFooterPart{
  display: inline;
}

.loversCardCol{
  background-color: var(--colBack);
  border-radius: var(--valRadiusBtn);
}

.loversColMars{
  color: var(--colMars);
}

.loversColVenus{
  color: var(--colVenus);
}

.loversColCookie{
  color: var(--colCookie);
}

.loversColMars, .loversColVenus, .loversColCookie{
  display: block;
}

.loversCardBody{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* page index.php */
.indexHeader{
  background-color: #4A2B0D!important;
}

.index{
  position: relative;
  z-index: 2;
  height: 100%;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
  box-shadow: var(--valShadow);
}


.indexWelcomeForm{
  background-color: #fb7b2c80;
  border-radius: var(--valRadiusBtn);
}

.indexImage{
  border-radius: var(--valRadiusBtn);
}

.indexParallax {
  background-image: url("../img/welcomeparallax.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.indexBtnSubmit{
  border: 1px solid var(--colBtnTxt);
  border-radius: var(--valRadiusBtn);
  color: var(--colBtnTxt);
  text-decoration: none;
  background-color: var(--colFootTxt);
  transition: transform 450ms, background-color 450ms, color 450ms;
}

.indexBtnSubmit:hover{
  background-color: var(--colBtnBorder);
  color: var(--colFootTxt);
  transform: scale(1.15);
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* page USERS.PHP */

.usersBody{
  font-family: var(--nameFont);
  background-color: var(--colBack);
}

.usersTitleDiv{
  width: 500px;
  height: 55px;
  background-color: var(--colBack);
  border-radius: var(--valRadiusBtn);
}

.usersTitle{
  display: inline;
}

.usersInfoTitle{
  font-size: large;
  font-weight: bold;
}

.usersInfoData, .usersInfoTitle{
  background-color: var(--colBack2);
  border-radius: var(--valRadiusBtn);
  
}

.usersContent{
  background-color: var(--colBack);
  width: 500px;
  border-radius: var(--valRadiusBtn);
}

.usersBtnRaz{
  width: 170px;
}

.usersBtnMeetic{
  width: 250px;
}

.usersBtnRaz, .usersBtnMeetic{
  display: block;
  border: 1px solid var(--colBtnTxt);
  border-radius: var(--valRadiusBtn);
  color: var(--colBtnTxt);
  text-decoration: none;
  background-color: var(--colBack);
  transition: transform 450ms, background-color 450ms, color 450ms;
}

.usersBtnRaz:hover, .usersBtnMeetic:hover{
  color: var(--colFootTxt);
  transform: scale(1.15);
  background-color: var(--colBtnTxt);
}

.usersBtnDiv{
  height: 400px;
}


/* FOOTER Global*/
.globalFooter{
  background-color: #4A2B0D!important;
}

.globalFooterText{
  color:#E36414;
}

.globalFooterSubText{
  color: var(--colFootTxt);
}

/* FOOTER 2 INDEX */
.indexFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 350px;  
  padding-left: 50px;
}
